<template>
    <!-- CONTENT BLOCK: Document.vue -->
    <div class="w-full mx-auto p-10 bg-white shadow md:rounded-2xl md:border dark:bg-white/5 md:dark:border-purple-800/90 md:dark:shadow-inner">
        <ContentDoc v-slot="{ doc }">
            <img v-if="doc.image" :src="doc.image" class="object-cover w-full max-h-60 rounded-xl" />
            <article class="prose lg:prose-lg w-full mx-auto">
                <h1 class="inline-block lg:text-3xl font-bold sm:text-2xl border-b dark:border-purple-800/90 mb-8 pb-2 uppercase">{{ doc.title }}</h1>
                <ContentRenderer :value="doc" />
            </article>
        </ContentDoc>
    </div>
</template>