<script setup>
const features = [
    {
        title: "Startup to Scale",
        body: `Experts with a deep understanding of agility across all scales of business from garage to global.`,
    },
    {
        title: "Mindset Matters",
        body: `By focusing primarily on developing the Agile Mindset before process or ways of working you get better results.`,
    },
    {
        title: "Situational Adaptiveness",
        body: `Once the mindset is clear it's easier to adapt agility this is the logical levels of business change our team pioneered`,
    },
]
</script>

<template>
    <section class="features">
        <div class="container mx-auto min-h-content">
            <div class="flex flex-col md:flex-row">
                <Feature v-for="feature in features" :key="features.indexOf(feature)" :title="feature.title">
                    {{ feature.body }}
                </Feature>
            </div>
        </div>
    </section>
</template>