<template>
    <footer class="flex items-stretch p-6 text-base-content mt-16 mb-16">
        <div class="text-center mx-auto">
            <p>Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                    Attribution-ShareAlike 4.0 International License</a>.</p>
            <p class="copyright">Created with ❤️ by <a xmlns:cc="http://creativecommons.org/ns#"
                    href="https://transformagility.com.au" property="cc:attributionName" rel="cc:attributionURL">TransformAgility.com.au</a>.
            </p>
        </div>
    </footer>
</template>