<template>
    <div class="hero">
        <div class="hero-image">
            <div class="hero-content">
                <div class="max-w-5xl mx-auto">
                    <!-- <FlashAlert>
                        <template v-slot:badge>Hello</template>
                        Open Source Business Operating System
                    </FlashAlert> -->

                    <h1 m="x-auto t-12 b-24"
                        text="2xl md:5xl lg:6xl white"
                        class="font-extrabold tracking-relaxed leading-loose">
                        <slot name="default">I need a hero</slot>
                    </h1>

                    <nav class="flex flex-col w-full md:flex-row md:justify-center">
                        <slot name="cta">
                            <NuxtLink to="/articles" class="cta">
                                Our latest articles on the subject
                            </NuxtLink>
                        </slot>

                        <slot name="secondary">
                            Secondary Tagline
                        </slot>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<style setup>
/* <app.css> */
</style>
