<script setup>
const mobNavOpen = ref(false);
const additionalPageLinks = [
  // {title: 'Title', _path: "/path/to/page"},
];
</script>

<template>
  <!-- navigation component -->
  <nav
    class="z-40 bg-white dark:bg-transparent dark:backdrop-blur-16 flex px-4 items-center relative py-4"
  >
    <div class="flex container justify-between mx-auto min-h-content">
      <div class="py-4 md:py-0 flex-item self-center">
        <NuxtLink to="/">
          <Logo class="w-auto" />
        </NuxtLink>
      </div>
      <div
        class="md:hidden flex-item self-center"
        @click="mobNavOpen = !mobNavOpen"
      >
        <svg
          :class="['burger', mobNavOpen ? 'open' : '']"
          width="40"
          height="40"
          viewport="0 0 40 40"
        >
          <rect
            class="line top"
            width="30"
            height="3"
            x="5"
            y="10"
            rx="2"
          ></rect>
          <rect
            class="line middle"
            width="30"
            height="3"
            x="5"
            y="18"
            rx="2"
          ></rect>
          <rect
            class="line bottom"
            width="30"
            height="3"
            x="5"
            y="26"
            rx="2"
          ></rect>
        </svg>
      </div>
      <!-- <div class="flex"> -->
      <ul
        :class="[
          'bg-black/80 md:bg-transparent block md:px-2 ml-auto md:flex md:space-x-2 absolute md:relative top-full left-0 right-0 backdrop-blur-16',
          mobNavOpen ? '' : 'hidden',
        ]"
      >
        <ContentNavigation v-slot="{ navigation }">
          <li v-for="link of navigation" :key="link._path">
            <NavBarLink :link="link" />
          </li>
        </ContentNavigation>

        <!-- Extra Links beyond Content Folders eg About Page -->
        <li
          v-if="additionalPageLinks"
          v-for="link in additionalPageLinks"
          :key="link._path"
        >
          <NavBarLink :link="link" />
        </li>
      </ul>
      <!-- <LightSwitch /> -->
      <!-- </div> -->
    </div>
  </nav>
</template>

<style>
.burger {
  @apply fill-purple-800 dark:fill-white;
  .line {
    @apply origin-center;
    transition: y 150ms ease-in 150ms, rotate 150ms ease-in, opacity 0ms 150ms;
  }
  &.open {
    .line {
      transition: y 150ms ease-in, rotate 150ms ease-in 150ms, opacity 0ms 150ms;
    }
    .middle {
      opacity: 0;
    }
    .top {
      y: 18;
      rotate: 45deg;
    }
    .bottom {
      y: 18;
      rotate: -45deg;
    }
  }
}
</style>
