<template>
    <!-- CONTENT BLOCK: Post.vue -->
    <ContentDoc v-slot="{ doc }">
        <BlogImage v-if="doc.image" :image="doc.image" />

        <div class="flex flex-col w-content md:w-3xl lg:w-4xl mx-auto rounded-xl">
            <div class="h-48 w-full md:rounded-t-xl dark:bg-purple-950/90 backdrop-blur-16 -mt-48 z-10"></div>
            <div class="container z-20 py-2 md:py-4 px-6 pb-12 m-4 mx-auto shadow -mt-48 space-y-6 w-full sm:px-10 lg:rounded-xl bg-white shadow dark:bg-white/5 md:border md:dark:border-purple-900/80">
                <article class="prose lg:prose-lg dark:text-gray-100 mx-auto">
                    <BlogMeta :post="doc" />
                    <ContentRenderer :value="doc" />
                </article>
            </div>
            <footer class="flex md:w-full md:mx-auto mx-6 py-6 md:rounded-xl">
                <AuthorCard :who="doc.profile" />
            </footer>
        </div>
    </ContentDoc>
</template>