@import './includes/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    ::-webkit-scrollbar {
        display: none;
    }
    @apply bg-white h-screen overflow-auto text-neutral-800 dark:text-neutral-200 font-light leading-6;
    @apply dark:bg-gradient-to-br dark:from-purple-950 dark:to-neutral-950 dark:to-70% dark:bg-fixed scrollbars-none;
    .link, a {
        @apply text-orange-5 hover:text-orange-4 dark:text-white dark:hover:text-purple-3;
        &.active, &.exact-active {
            @apply text-purple-3;
        }
    }
}

.prose {
    .title, h1, h2, h3, h4, h5, h6 {
        > a {
            @apply dark:text-white no-underline border-b dark:border-purple-900/80;
        }
    }
}

/* <Hero.vue> */
div.hero {
    @apply -rotate-1 -skew-x-1 min-h-content flex-row content-center my-0 md:mt-4;
    @apply bg-gradient-to-br from-purple-950 from-10% via-neutral-950 via-70% to-purple-950 dark:bg-none;
    .hero-image {
        background-image: var(--ta-circuit-breaker);
        @apply p-8 md:p-16 xl:p-32;
        .hero-content {
            @apply rotate-1 skew-x-1 text-center;
            > div {
                @apply mx-auto mt-0 mb-6;
                > h1 {
                    @apply text-white mx-auto mb-8 md:mb-16 text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-extrabold tracking-tight leading-loose;
                    /* @apply text-transparent bg-gradient-to-br from-fuchsia-600 to-cyan-600 bg-clip-text; */
                }
                .cta {
                    @apply flex self-center text-orange-950 btn bg-orange-400 rounded py-4 px-6 focus:bg-orange-300 hover:bg-orange-300 shadow;
                }

                .secondary {
                    @apply flex mx-6 self-center my-4;
                }
            }
        }
    }
}

.features {
    @apply bg-white dark:bg-transparent mt-0;
    .feature {
        @apply w-full h-full shadow dark:shadow-inner p-6 rounded-xl text-neutral-800 dark:text-white/60;
        @apply bg-stone-50 dark:border dark:bg-white/5 dark:backdrop-blur-16 dark:border-purple-800/90;
        > h3 {
            @apply: text-purple-950 dark:text-white/80;
        }
    }
}

.ta-borderless, .ta-borderless a {
    border: 0 none transparent !important;
}

#ta-logo {
    width: 200px;
    height: auto;
    * {
        @apply fill-purple-900 dark:fill-purple-50;
    }
}

.avatar {
    @apply hover:animate-spin self-center shadow flex-shrink-0 border rounded-full border-white dark:border-purple-900/80 h-auto;
}

.card {
    @apply p-6 rounded-xl bg-white dark:bg-white/5 mt-6 dark:border dark:border-purple-900/80
    @apply flex flex-col justify-center w-full px-8 mx-3 my-3 text-center md:w-96 lg:w-80 xl:w-64;
    @apply   dark:backdrop-blur-16 shadow dark:shadow-inner;
    &.profile-card {
        @apply mt-16;
        .avatar {
            @apply w-24 -mt-16;
        }
    }
}

.alert {
    @apply p-5 shadow text-base my-8 border-l-6 rounded;
    .title, h3 {
        @apply mb-4 pb-2 font-semibold text-lg flex border-b border-neutral-500 dark:border-black/20;
    }
    &.note {
        @apply bg-yellow-50 border-yellow-4 text-yellow-950;
        .link, a {
            @apply text-yellow-950 hover:text-yellow-7;
        }
        .title, h3 {
            @apply border-yellow-4;
        }
    }
    &.info {
        @apply bg-blue-100 border-blue-600 text-blue-950;
        .title, h3 {
            @apply border-blue-600;
        }
    }
    &.warning {
        @apply bg-orange-200  border-orange-600 text-orange-950;
        .title, h3 {
            @apply border-orange-600;
        }
    }
    &.danger {
        @apply bg-red-300  border-red-600 text-red-950;
        .title, h3 {
            @apply border-red-600;
        }
    }
}

/* .doc-navigation {
    @apply basis-3/8 text-left px-6 py-4 shadow rounded-2xl border border-transparent hover:border-neutral-500;
    @apply dark:hover:bg-white/5 dark:hover:border-purple-800/90 dark:hover:shadow-inner align-middle;
} */

.drawer section {
    @apply mb-5 pt-8;
    &:first-child {
        @apply mt-6;
    }
    .menu-title {
        @apply border-b border-neutral-200 text-neutral-950;
    }
    .link, a {
        @apply pl-2 border-b-4 border-transparent;
        &.active, &.actice-exact {
            @apply font-semibold border-primary-focus text-primary-focus;
        }
        &:hover {
            @apply border-primary-focus text-primary-focus;
        }
    }
}
