<script setup>
    const profiles = useProfile();
    const route = useRoute();
    const profile = profiles[route.params.who];
</script>

<template>
    <div class="min-h-screen container mx-auto md:px-30 grid grid-rows-[min-content_1fr_min-content]">
        <NavBarSticky />

        <Profile :profile="profile" />

        <Footer></Footer>
    </div>
</template>