<script setup>
    import '@unocss/reset/tailwind-compat.css'
</script>

<template>
    <div class="max-h-screen grid grid-rows-[min-content_1fr_min-content] overflow-none">
        <NavBarSticky />

        <!-- Content element (display: grid) -->
        <div class="grid my-16">
            <main class="container mx-auto">
                <Document />
            </main>
        </div>

        <Footer></Footer>
    </div>
</template>