<script setup>
    import '@unocss/reset/tailwind-compat.css'
</script>

<template>
    <div class="min-h-screen grid grid-rows-[min-content_1fr_min-content]">
        <NavBarSticky />

        <!-- Content element (display: grid) -->
        <div class="grid">
            <div class="container mx-auto">
                <main class="documentation">
                    <div class="flex flex-row">
                        <div class="basis-1/5 flex-none pt-6 my-12 hidden md:block">
                            <SideBar />
                        </div>
                        <div class="md:basis-4/5 lg:basis-3/5 grow md:m-12">
                            <Document />

                            <DocNav />
                        </div>
                        <div class="basis-1/5 grow my-12 hidden lg:block">
                            <TOC />
                        </div>
                    </div>
                </main>


            </div>
        </div>

        <div>
            <Footer />
        </div>
    </div>
</template>