<script setup>
    import '@unocss/reset/tailwind-compat.css'
</script>

<template>
    <div class="min-h-screen grid grid-rows-[min-content_1fr_min-content]">
        <NavBarSticky />

        <!-- Content element (display: grid) -->
        <Post />

        <Footer />
    </div>
</template>