<script setup>
    import '@unocss/reset/tailwind-compat.css'
</script>

<template>
    <div class="min-h-screen grid grid-rows-[min-content_1fr_min-content]">
        <NavBar />

        <Hero class="mt-2 mb-8 md:mb-16">
            The next generation business operating system to develop an agile mindset for scale, adaptability and organisational alignment.

            <template v-slot:cta>
                <NuxtLink to="/framework" class="cta">
                    Read more about TagOS
                </NuxtLink>

                <NuxtLink to="/framework/opensource" class="secondary">
                    or contribute to the project
                </NuxtLink>
            </template>
            <!-- Ideas and thoughts on agility in a volatile, uncertain, complex and ambiguous world. -->
        </Hero>

        <FrameworkFeatures />

        <Footer></Footer>
    </div>
</template>