<template>
    <div class="min-h-screen grid grid-rows-[min-content_1fr_min-content]">
        <NavBar />

        <!-- Content element (display: grid) -->
        <section class="py-6">
            <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
                <p class="p-2 text-sm font-medium tracking-wider text-center uppercase">TransfromAgility Team</p>
                <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl">The talented people behind the scenes</h1>
                <div class="flex flex-row flex-wrap-reverse justify-center mt-8">

                <DanielCard />
                <IshanCard />

                </div>
            </div>
        </section>

        <Footer></Footer>
    </div>
</template>