<script setup>
    import '@unocss/reset/tailwind-compat.css'
    const { page } = useContent();

    useSeoMeta({
        title: page.title,
        description: page.description,
        ogUrl: page._path,
        ogDescription: page.description,
        ogTitle: page.title,
        ogImage: page.image,
    })
</script>

<template>
    <div class="min-h-screen grid grid-rows-[min-content_1fr_min-content]">
        <NavBarSticky />

        <!-- <PageBar>Articles</PageBar> -->


        <main class="py-6 sm:py-12">
            <div class="container p-6 mx-auto space-y-8">
                <div class="space-y-2 text-center mb-16">
                    <h2 class="text-3xl font-bold">Articles and blog posts from our experience with agility</h2>
                    <p class="text-sm text-neutral-400">and VUCA, Cynefin, Mindset, Organisational Chaos...</p>
                </div>


                <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
                    <ContentQuery path="/articles"  :sort="{ date: -1 }"  v-slot="{ data }">
                        <template v-for="post in data" :post="post" :key="post._path">
                            <ArticleCard v-if="(post._type == 'markdown')" :post="post" :key="post._path" />
                        </template>
                    </ContentQuery>
                </div>
            </div>
        </main>


        <!-- <section>
            <div class="flex justify-center">
                <button type="button"
                    class="px-6 py-3 text-sm rounded-md hover:underline dark:bg-gray-900 dark:text-gray-400">Load
                    more posts...</button>
            </div>
        </section> -->
        <Footer></Footer>
    </div>
</template>