<script setup>
import '@unocss/reset/tailwind-compat.css'

const guides = [
    {title: "Scrum Study Guide", _path: '/guides/scrum'},
    // {title: "Nexus Study Guide", _path: '/guides/nexus'}
]
</script>

<template>
    <div class="min-h-screen grid grid-rows-[min-content_1fr_min-content]">
        <NavBarSticky />



        <main class="py-6 sm:py-12">
            <div class="container p-6 mx-auto space-y-8">
                <PageBar title="Study Guides">for Scrum, Jobs to be Done, High Performance Teams, etc.</PageBar>


                    <div class="container flex flex-col mx-auto lg:flex-row rounded-xl border dark:border-purple-900/80 dark:bg-white/5 shadow backdrop-blur">
                        <div class="w-full lg:w-1/3 rounded-l-xl" style="background-image: url('/images/guides/scrum/scrum_framework.png'); background-position: center center; background-size: cover;"></div>
                        <div class="flex flex-col w-full p-6 lg:w-2/3 md:p-8 lg:p-12">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-8 h-8 mb-8 dark:text-violet-400">
                                <path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <h2 class="text-3xl font-semibold leading-none">Scrum Study Guide</h2>
                            <p class="mt-4 mb-8 text-sm">Learn some of the nuances of Scrum including why Timeboxes are the length they are, stakeholder accountability, and more...</p>
                            <NuxtLink :to="'/guides/scrum'" class="self-start px-10 py-3 text-lg font-medium rounded-3xl bg-orange-4 text-orange-950 hover:text-orange-800">Get started</NuxtLink>
                        </div>
                    </div>
            </div>

        </main>


        <!-- <section>
            <div class="flex justify-center">
                <button type="button"
                    class="px-6 py-3 text-sm rounded-md hover:underline dark:bg-gray-900 dark:text-gray-400">Load
                    more posts...</button>
            </div>
        </section> -->
        <Footer></Footer>
    </div>
</template>