<script setup>
    import '@unocss/reset/tailwind-compat.css'
</script>

<template>
    <div class="min-h-screen grid grid-rows-[min-content_1fr_min-content]">
        <NavBar />

        <Hero class="mt-2 mb-8 md:mb-16">
            The next-generation operating system for scale, adaptability, and organisational alignment in the age of machine intelligence.

            <template v-slot:cta>
                <NuxtLink to="/framework" class="cta">
                    Read more about TagOS
                </NuxtLink>
            </template>
            <template v-slot:secondary>
                <NuxtLink to="/framework/open_source" class="secondary">
                    or contribute to the project
                </NuxtLink>
            </template>
            <!-- Ideas and thoughts on agility in a volatile, uncertain, complex and ambiguous world. -->
        </Hero>

        <Features class="my-8 md:my-16" />

        <Team class="bg-stone-100 dark:bg-transparent py-8 md:py-16" />

        <Footer></Footer>
    </div>
</template>