<script setup>
const props = defineProps({
    post: Object
})
const profile = useProfile(props.post.profile)
const str = props.post.subheading.toLowerCase();
const subtitle = str.charAt(0).toUpperCase() + str.slice(1);
const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
const formattedPostDate = computed(() => {
    const dateObj = new Date(props.post.date)
    return dateObj.toLocaleDateString('en-AU', options);
})
</script>

<template>
    <header class="pb-6 mb-6">
        <h1 class="inline-block lg:text-3xl font-bold sm:text-2xl border-b dark:border-purple-800/90 mb-1 pb-2 uppercase">{{ post.title }}</h1>
        <h4 v-if="subtitle" class="font-normal my-1 mb-8 text-lg">{{ subtitle }}</h4>
        <p class="text-xs text-purple-800 dark:text-purple-300">
            By:<NuxtLink :to="profile.meta._path"><span><Avatar :profile="profile" class="w-7 inline-block mx-3" /></span>{{ profile.name.full }}</NuxtLink> ({{ formattedPostDate }})
        </p>
    </header>
</template>