<script setup>
    const { prev, next } = useContent();
</script>

<template>
    <nav class="flex flex-row justify-between w-full mx-auto mt-8">
        <div class="doc-navigation text-left"
            v-if="prev">
            <NuxtLink :to="prev._path" class="align-middle uppercase text-sm">
                <div class="inline-block mr-2 i-ph-arrow-circle-left w-5 h-5 align-middle" /> {{ prev.title }}
            </NuxtLink>
        </div>

        <div class="doc-navigation text-right"
            v-if="next">
            <NuxtLink :to="next._path" class="align-middle uppercase text-sm">
                {{ next.title }} <div class="inline-block ml-2 i-ph-arrow-circle-right w-5 h-5 align-middle" />
            </NuxtLink>

        </div>
    </nav>
</template>