<script setup>
const props = defineProps({
    cite: String,
    url: String
})
</script>

<template>
    <aside class="pl-6 border-l dark:border-white/20 my-8 italic text-sm">
        <ContentSlot :use="$slots.default" />

        <a class="pt-1 text-xs opacity-60" :href="url">From: <cite >{{ cite }}</cite></a>
    </aside>
</template>