<script setup>
const props = defineProps({
    fragment: String
})
</script>

<template>
    <Excerpt cite="The official Scrum Guide" :url="'https://scrumguides.org/scrum-guide.html' + fragment">
        <slot name="default"></slot>
    </Excerpt>
</template>