<script setup lang="ts">
const { toc } = useContent()
</script>

<template>
  <div class="drawer" v-if="toc.links.length">
    <section >
      <h3 class="font-bold text-lg border-b border-gray-300 my-6" dark="border-white/20">
        Page Contents
      </h3>
      <ul v-if="toc && toc.links">
        <li v-for="link in toc.links" :key="link.text">
          <a :href="`#${link.id}`" class="text-sm leading-loose">
            {{ link.text }}
          </a>
        </li>
      </ul>
    </section>
  </div>
</template>