<script setup>
const props = defineProps({
    title: String,
    type: String
})
</script>

<template>
    <div :class="['alert not-prose', type || 'note']" >
        <h3 v-if="title" class="title">{{ title }}</h3>
        <ContentSlot unwrap="p" :use="$slots.default" />
    </div>
</template>