<script setup>
    const props = defineProps({
        post: Object
    })
    const profile = useProfile(props.post.profile);
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    const fmtDate = ( date ) => {
        const dateObj = new Date(props.post.date)
        return dateObj.toLocaleDateString('en-AU', options);
    };
</script>

<template>
     <article class="flex flex-col shadow rounded-xl border dark:border-purple-900/80">
        <NuxtLink rel="noopener noreferrer" :href="post._path" :aria-label="post.title">
            <img alt="" class="object-cover w-full h-52 bg-white rounded-t-xl"
                :src="post.image || 'https://source.unsplash.com/random/480x360?1'">
        </NuxtLink>
        <section class="flex flex-col flex-1 p-6 sm:gap-6 md:gap-12 bg-white dark:bg-white/5 rounded-b-xl">
            <template class="flex flex-grow flex-start ">
                <NuxtLink rel="noopener noreferrer" :href="post._path">
                    <h1 class="flex-1 py-2 text-lg font-semibold leading-normal">{{ post.title }}</h1>
                    <h4 class="flex-1 text-sm font-light leading-normal">{{ post.subheading }}</h4>
                </NuxtLink>
            </template>
            <div class="flex flex-wrap justify-self-end justify-between pt-3 space-x-2 text-xs text-gray-400">
                <span>{{ profile.name.full }}</span>
                <span>{{ fmtDate(post.date) }}</span>
            </div>
        </section>
    </article>
</template>