<script setup>
    const props = defineProps({
        who: String
    })
    const profile = useProfile(props.who)
</script>

<template>

<div class="w-full p-6 md:p-8 md:rounded-xl bg-stone-100 dark:bg-white/5 mt-8 dark:border dark:border-purple-900/80">
    <h4 class="flex font-semibold mb-6 text-xl border-b dark:border-white/10 pb-3 justify-center align-center">About the Author</h4>
	<div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row">
		<Avatar :profile="profile" class="w-40" />
        <div class="flex flex-col flex-justify">
			<h4 class="mt-2 text-lg font-semibold text-center md:text-left">{{ profile.name.full }}</h4>
			<p class="font-light text-gray-600 dark:text-white/70 text-center sm:text-left">
                <ContentSlot :use="$slots.default" unwrap="p">
                    {{ profile.bio }}
                </ContentSlot>
            </p>
		</div>
	</div>
	<div class="flex justify-center pt-4 space-x-4 align-center">
        <NuxtLink
            v-for="social in profile.social"
            :key="profile.id + '_social_' + social.id"
            rel="noopener noreferrer"
            :to="social.url"
            :title="'contact ' + profile.name.full + ' on ' + social.service"
            target="_blank"
            class="text-gray-600 hover:text-purple-800"
        >
            <div v-if="social.service == 'email'" class="i-ph-envelope-simple-light text-xl" />
            <div v-if="social.service == 'linkedin'" class="i-ph-linkedin-logo-light text-xl" />
        </NuxtLink>
	</div>
</div>
</template>