<template>
    <div class="card flex-none">
        <h3 class="text-left text-lg mb-2 font-semibold" >
            <slot name="title"> Card </slot>
        </h3>
        <slot name="default"></slot>
    </div>
</template>