<script setup>
const props = defineProps({
    resource: {
      type: String,
      required: true
    },
})
</script>

<template>
    <a :href="'/resources/' + resource" class="btn-primary" :download="resource">
        download {{ resource }}
    </a>
</template>