<script setup>
import {
    // Dialog,
    DialogPanel,
    DialogTitle,
    DialogDescription,
  } from '@headlessui/vue';

const props = defineProps({
    title: String
})
</script>

<template>
    <section class="basis-1/3 p-6">
        <div class="feature">
            <h3 v-if="title" class="text-xl font-semibold mb-3 text-gray-900">{{ title }}</h3>
            <p>
                <slot />
            </p>
        </div>
    </section>
</template>