<template>
    <div class="text-center py-4 lg:px-4">
        <div class="p-2 bg-purple-800 items-center text-purple-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
            <span class="flex rounded-full bg-purple-500 uppercase px-2 py-1 text-xs font-bold mr-3">
                <slot name="badge">New</slot>
            </span>
            <span class="font-semibold mr-2 text-left flex-auto">
                <slot name="default">Add content</slot>
            </span>
            <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
        </div>
    </div>
</template>