<script setup>
    const rules = useGroundRules()
</script>

<template>
    <section v-for="(rule, index) in rules" :key="index">
        <h2>Rule {{ index + 1 }}: {{ rule.title }}</h2>
        <span>{{ rule.tagline }}</span>
    </section>
</template>
