<template>
    <Transition>
        <svg id="ta-logo" width="515" height="86" viewBox="0 0 515 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M187.311 24.1172V29.0586H178.502V54.8398H172.809V29.0586H164V24.1172H187.311Z" fill="#FFFFFF" />
            <path
                d="M190.018 54.8398V32.2812H194.422L195.131 35.1602C197.107 33.2409 199.199 32.2812 201.404 32.2812V36.8789C199.285 36.8789 197.387 37.7598 195.711 39.5215V54.8398H190.018Z"
                fill="#FFFFFF" />
            <path
                d="M203.553 47.8145C203.553 43.3314 206.818 41.0898 213.35 41.0898C214.882 41.0898 216.415 41.2331 217.947 41.5195V39.8223C217.947 37.8027 216.493 36.793 213.586 36.793C211.122 36.793 208.387 37.151 205.379 37.8672V33.3555C208.387 32.6393 211.122 32.2812 213.586 32.2812C220.289 32.2812 223.641 34.7591 223.641 39.7148V54.8398H220.332L218.312 52.8203C216.35 54.1667 214.188 54.8398 211.824 54.8398C206.31 54.8398 203.553 52.498 203.553 47.8145ZM217.947 45.3867C216.515 45.1003 214.982 44.957 213.35 44.957C210.614 44.957 209.246 45.888 209.246 47.75C209.246 49.7552 210.392 50.7578 212.684 50.7578C214.574 50.7578 216.329 50.1706 217.947 48.9961V45.3867Z"
                fill="#FFFFFF" />
            <path
                d="M229.033 54.8398V32.2812H233.438L234.146 35.5898C236.309 33.3841 238.773 32.2812 241.537 32.2812C246.88 32.2812 249.551 35.0599 249.551 40.6172V54.8398H243.857V40.6172C243.857 38.125 242.618 36.8789 240.141 36.8789C238.293 36.8789 236.488 37.6165 234.727 39.0918V54.8398H229.033Z"
                fill="#FFFFFF" />
            <path
                d="M254.943 53.7656V49.0391C257.45 50.0417 260.343 50.543 263.623 50.543C266.072 50.543 267.297 49.7552 267.297 48.1797C267.297 46.6758 266.473 45.9238 264.826 45.9238H260.744C256.161 45.9238 253.869 43.668 253.869 39.1562C253.869 34.4297 257.214 32.0664 263.902 32.0664C266.738 32.0664 269.41 32.4961 271.916 33.3555V38.082C269.41 37.0794 266.688 36.5781 263.752 36.5781C260.673 36.5781 259.133 37.3659 259.133 38.9414C259.133 40.4453 260.028 41.1973 261.818 41.1973H265.471C270.484 41.1973 272.99 43.4531 272.99 47.9648C272.99 52.6914 269.796 55.0547 263.408 55.0547C260.271 55.0547 257.45 54.625 254.943 53.7656Z"
                fill="#FFFFFF" />
            <path
                d="M276.986 54.8398V32.2812C276.986 26.0938 280.367 23 287.127 23C288.975 23 290.65 23.2865 292.154 23.8594V28.3711C290.736 27.7982 289.197 27.5117 287.535 27.5117C284.298 27.5117 282.68 29.1016 282.68 32.2812H289.447V36.793H282.68V54.8398H276.986Z"
                fill="#FFFFFF" />
            <path
                d="M297.547 43.4746C297.547 48.1868 299.373 50.543 303.025 50.543C306.678 50.543 308.504 48.1868 308.504 43.4746C308.504 38.877 306.678 36.5781 303.025 36.5781C299.373 36.5781 297.547 38.877 297.547 43.4746ZM291.854 43.5605C291.854 35.998 295.577 32.2168 303.025 32.2168C310.473 32.2168 314.197 35.998 314.197 43.5605C314.197 51.1087 310.473 54.8828 303.025 54.8828C295.606 54.8828 291.882 51.1087 291.854 43.5605Z"
                fill="#FFFFFF" />
            <path
                d="M318.494 54.8398V32.2812H322.898L323.607 35.1602C325.584 33.2409 327.675 32.2812 329.881 32.2812V36.8789C327.761 36.8789 325.863 37.7598 324.188 39.5215V54.8398H318.494Z"
                fill="#FFFFFF" />
            <path
                d="M333.104 54.8398V32.2812H337.508L338.174 35.5469C340.193 33.3698 342.621 32.2812 345.457 32.2812C348.293 32.2812 350.234 33.3125 351.279 35.375C353.585 33.3125 355.999 32.2812 358.52 32.2812C363.704 32.2812 366.297 35.1387 366.297 40.8535V54.8398H360.604V40.6387C360.604 38.1322 359.472 36.8789 357.209 36.8789C355.519 36.8789 353.893 37.638 352.332 39.1562V54.8398H346.639V40.7031C346.639 38.1536 345.593 36.8789 343.502 36.8789C341.84 36.8789 340.272 37.638 338.797 39.1562V54.8398H333.104Z"
                fill="#FFFFFF" />
            <path
                d="M372.162 54.8398H369.756L383.656 24.1172H386.342L400.307 54.8398H397.621L393.066 44.5273H379.295L379.961 42.5938H392.229L384.859 25.8789L372.162 54.8398Z"
                fill="#FFFFFF" />
            <path
                d="M420.867 34.8164C418.79 34.4727 416.749 34.3008 414.744 34.3008C408.657 34.3008 405.613 37.3301 405.613 43.3887C405.613 49.5905 408.456 52.6914 414.143 52.6914C416.205 52.6914 418.447 52.3047 420.867 51.5312V34.8164ZM423.123 54.8398C423.123 60.2826 419.807 63.0039 413.176 63.0039C410.397 63.0039 407.934 62.6458 405.785 61.9297V59.9961C407.977 60.7122 410.454 61.0703 413.219 61.0703C418.318 61.0703 420.867 58.9935 420.867 54.8398V53.7656C418.318 54.4818 416.069 54.8398 414.121 54.8398C406.988 54.8398 403.422 51.0371 403.422 43.4316C403.422 35.998 407.253 32.2812 414.916 32.2812C417.824 32.2812 420.559 32.5892 423.123 33.2051V54.8398Z"
                fill="#FFFFFF" />
            <path d="M432.92 24.1172V26.6953H430.234V24.1172H432.92ZM432.705 32.2812V54.8398H430.449V32.2812H432.705Z"
                fill="#FFFFFF" />
            <path d="M442.717 24.1172V54.8398H440.461V24.1172H442.717Z" fill="#FFFFFF" />
            <path d="M452.943 24.1172V26.6953H450.258V24.1172H452.943ZM452.729 32.2812V54.8398H450.473V32.2812H452.729Z"
                fill="#FFFFFF" />
            <path
                d="M459.969 28.6289H461.559L461.967 32.2812H468.734V34.2148H462.16V48.459C462.16 51.4238 463.249 52.9062 465.426 52.9062H468.734V54.8398H465.469C461.802 54.8398 459.969 52.8132 459.969 48.7598V28.6289Z"
                fill="#FFFFFF" />
            <path
                d="M470.861 32.2812H473.461L481.84 52.6484L490.09 32.2812H492.582L482.785 55.5059C481.124 59.6022 478.632 62.1589 475.309 63.1758L474.643 61.3711C477.249 60.4258 479.24 58.3633 480.615 55.1836L470.861 32.2812Z"
                fill="#FFFFFF" />
            <path
                d="M61.3384 54.3746C57.5827 61.4708 47.4174 61.4708 43.6616 54.3747L24.7685 18.6779C21.2436 12.0179 26.0717 3.99999 33.6069 3.99999L71.3931 4C78.9283 4 83.7564 12.0179 80.2315 18.6779L61.3384 54.3746Z"
                fill="#FFFFFF" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M111.393 81.0741C118.928 81.0741 123.756 73.0562 120.232 66.3962L101.338 30.6994C97.5827 23.6033 87.4174 23.6033 83.6616 30.6995L64.7686 66.3962C61.2437 73.0562 66.0717 81.0741 73.607 81.0741L111.393 81.0741ZM106.38 71.0628C106.674 71.0628 106.913 70.8241 106.913 70.5298V70.5298C106.913 70.2354 106.674 69.9968 106.38 69.9968L103.533 69.9968C103.239 69.9968 103 70.2354 103 70.5298V70.5298C103 70.8241 103.239 71.0628 103.533 71.0628L103.676 71.0628C104.049 71.0628 104.352 71.3654 104.352 71.7388L104.352 73.8513C104.352 74.1851 104.623 74.4558 104.956 74.4558V74.4558C105.29 74.4558 105.561 74.1851 105.561 73.8513L105.561 71.7388C105.561 71.3654 105.864 71.0628 106.237 71.0628L106.38 71.0628ZM112.776 71.7518C112.752 71.3619 112.723 71.0099 112.689 70.6957C112.645 70.2906 112.296 69.9968 111.888 69.9968V69.9968C111.565 69.9968 111.272 70.1836 111.126 70.4723C111.026 70.672 110.913 70.8905 110.787 71.1278V71.1278C110.496 71.6767 109.691 71.6811 109.409 71.1278V71.1278C109.283 70.881 109.168 70.6545 109.064 70.4483C108.924 70.1718 108.641 69.9968 108.332 69.9968V69.9968C107.927 69.9968 107.583 70.2924 107.537 70.6943C107.501 71.0089 107.466 71.3614 107.433 71.7518C107.391 72.3193 107.338 73.0172 107.273 73.8454C107.247 74.1744 107.507 74.4558 107.837 74.4558V74.4558C108.141 74.4558 108.391 74.2153 108.404 73.9114C108.417 73.612 108.431 73.2994 108.447 72.9738C108.46 72.7076 108.474 72.4523 108.49 72.2081C108.502 72.0085 108.768 71.9527 108.863 72.1288V72.1288C108.984 72.3541 109.101 72.5794 109.214 72.8048C109.335 73.0214 109.444 73.2251 109.539 73.4158C109.566 73.4689 109.59 73.519 109.614 73.5661C109.705 73.7509 109.892 73.8708 110.098 73.8708V73.8708C110.304 73.8708 110.491 73.7509 110.582 73.5661C110.606 73.519 110.63 73.4689 110.657 73.4158C110.752 73.2164 110.856 73.0084 110.969 72.7918C111.082 72.5664 111.199 72.3411 111.32 72.1158V72.1158C111.421 71.9275 111.693 71.9897 111.706 72.203C111.722 72.4488 111.736 72.7057 111.749 72.9738C111.765 73.3 111.779 73.6131 111.792 73.913C111.805 74.216 112.054 74.4558 112.357 74.4558V74.4558C112.683 74.4558 112.941 74.181 112.92 73.8562C112.866 73.0233 112.818 72.3218 112.776 71.7518Z"
                fill="#FFFFFF" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M106.51 9.62606C103.006 10.9311 102.877 15.3804 104.626 18.6846L129.764 66.1809C131.493 69.4473 136 69.6957 136 66V66L136 19C136 13.4772 131.523 9 126 9L110 9C108.772 9 107.596 9.22125 106.51 9.62606Z"
                fill="#FFFFFF" fill-opacity="0.3" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M15.1329 18.6981C13.6991 15.9892 10 15.9351 10 19V19V66C10 71.5228 14.4772 76 20 76H36C36.6265 76 37.2395 75.9424 37.8341 75.8322C41.8679 75.0844 42.3444 70.1119 40.4253 66.4859L15.1329 18.6981Z"
                fill="#FFFFFF" fill-opacity="0.3" />
        </svg>
    </Transition>
</template>

<style>
/* <app.css> */
</style>