<script setup>
const props = defineProps({
    link: Object
})
</script>

<template>
    <NuxtLink
        :to="link._path"
        :class="[
            'flex md:inline-flex p-4 items-center bg-transparent',
            'text-neutral-700 dark:text-neutral-300 border-b-2 border-transparent ',
            'hover:text-purple-800 hover:border-purple-800',
            'dark:hover:text-purple-300 dark:hover:border-purple-300',

        ]">
        {{ link.title }}
    </NuxtLink>
</template>