<script setup>
    const props = defineProps({
        title: String
    })
</script>

<template>
    <div class="space-y-2 text-center mb-16">
        <h2 class="text-3xl font-bold">{{ title }}</h2>
        <slot class="text-sm font-light text-neutral-400" />
    </div>
</template>