<script setup>
const props = defineProps({
    profile: Object,
})
</script>

<template>
    <div class="card profile-card">

        <Avatar :profile="profile" />

        <div class="flex-1 my-4">
            <NuxtLink :to="profile.meta._path">
                <p class="text-xl font-semibold leading-snug">{{ profile.name.full }}</p>
            </NuxtLink>
            <p class="dark:text-white/60">{{ profile.headline }}</p>
        </div>

        <div class="flex items-center justify-center p-3 space-x-3 border-t dark:border-white/10">
            <NuxtLink v-for="social in profile.social" :key="profile.id + '_social_' + social.id"
                rel="noopener noreferrer"
                :to="social.url"
                :title="'contact ' + profile.name.full + ' on ' + social.service"
                target="_blank"
                class="hover:text-purple-800">
                <div v-if="social.service == 'email'" class="i-ph-envelope-simple-light text-xl" />
                <div v-if="social.service == 'linkedin'" class="i-ph-linkedin-logo-light text-xl" />
            </NuxtLink>
        </div>
    </div>
</template>