<script setup>
const props = defineProps({
    profile: Object
})
</script>

<template>
    <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-6 xl:grid-cols-12">
        <aside class="col-span-1 md:col-span-6 xl:col-span-3">
            <ProfileCard :profile="profile" class="max-h-content flex-none  mx-auto" />
            <Card class="mx-auto">
                <template v-slot:title>Information</template>
                <template v-slot:default>
                    <template v-for="detail in profile.info" :key="detail.key">
                        <div class="flex flex-row justify-items-stretch">
                            <span class="flex-grow text-left text-white/60">{{ detail.key }}</span>
                            <span class="flex-grow text-right">{{ detail.value }}</span>
                        </div>
                    </template>
                </template>
            </Card>
            <Card class="mx-auto">
                <template v-slot:title>Skills</template>
                <span class="badge">Agile</span>
            </Card>
        </aside>

        <!-- <section class="col-span-1 md:col-span-6 xl:col-span-9">
            <div class="container max-w-5xl px-4 py-12 mx-auto">
                <div class="grid gap-4 mx-4 lg:grid-cols-12">
                    <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
                        <div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-700">
                            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400">
                                <h3 class="text-xl font-semibold tracking-wide">Donec porta enim vel </h3>
                                <time class="text-xs tracking-wide uppercase dark:text-gray-400">Dec 2020</time>
                                <p class="mt-3">Pellentesque feugiat ante at nisl efficitur, in mollis orci scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                            </div>
                            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400">
                                <h3 class="text-xl font-semibold tracking-wide">Aliquam sit amet nunc ut</h3>
                                <time class="text-xs tracking-wide uppercase dark:text-gray-400">Jul 2019</time>
                                <p class="mt-3">Morbi vulputate aliquam libero non dictum. Aliquam sit amet nunc ut diam aliquet tincidunt nec nec dui. Donec mollis turpis eget egestas sodales.</p>
                            </div>
                            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400">
                                <h3 class="text-xl font-semibold tracking-wide">Pellentesque habitant morbi</h3>
                                <time class="text-xs tracking-wide uppercase dark:text-gray-400">Jan 2016</time>
                                <p class="mt-3">Suspendisse tincidunt, arcu nec faucibus efficitur, justo velit consectetur nisl, sit amet condimentum lacus orci nec purus. Mauris quis quam suscipit, vehicula felis id, vehicula enim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    </div>
</template>