<script setup>
   const { currentRoute } = useRouter();
   const rootPath = '/' + currentRoute.value.path.split("/")[1];
</script>

<template>
   <div class="drawer bg-transparent">
      <div class="drawer-side w-full">
         <section>
            <!-- <ContentList :path="rootPath"></ContentList>-->

            <Treeview :path="rootPath" />
         </section>
      </div>
   </div>
</template>