<script setup>
    const profiles = useProfile()
</script>

<template>
    <section class="py-6">
        <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
            <p class="p-2 text-sm font-medium tracking-wider text-center uppercase">Transform-Agility Team</p>
            <h1 class="text-4xl font-bold leading-none text-center sm:text-3xl">The talented people behind the scenes</h1>
            <div class="flex flex-row flex-wrap justify-center mt-16">

                <template v-for="profile in profiles">
                    <ProfileCard :profile="profile" />
                </template>

            </div>
        </div>
    </section>
</template>