<script setup>
const props = defineProps({
    path: String
})
const { data: navigation } = await useAsyncData('navigation', () => {
  return fetchContentNavigation(props.path)
})
</script>

<template>
  <!-- <AsideTree  /> -->
  <div class="h-content">
    <div class="h-content max-w-md overflow-auto">
          <template v-for="navitem in navigation" :key="navitem.id">
            <h3 class="font-bold text-lg border-b border-gray-300 mb-4" dark="border-white/20">
              <NuxtLink :to="navitem._path" :class="[
                'active'
              ]" >
                {{ navitem.title }}
              </NuxtLink>
            </h3>

            <template v-if="navitem.children && navitem.children.length">
              <TreeviewItems :items="navitem.children" :parent-path="path" :indent="0" />
            </template>
          </template>
    </div>
  </div>
</template>

