<script setup>
    import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'
    import { ChevronUpIcon } from '@heroicons/vue/20/solid'

    const route = useRoute();
    const props = defineProps({
        indent: Number,
        parentPath: String,
        items: Object,
    })


    function isActiveRoute(path) {
        let base = '';
        const slugParams = route.params.slug;
        for(let slug in slugParams) {
            base = base + '/' + slugParams[slug];
            if (base == path) {
                return true;
            }
        }
        return false;
    }
</script>

<template>
    <template v-for="menuItem in items" :key="menuItem.id">
        <div :class="(props.indent > 0) ? 'pl-4' : ''">
        <NuxtLink
            v-if="(! menuItem.children || menuItem.children.length < 2)
                  && menuItem._path != parentPath"
            :to="menuItem._path"
            class="flex w-full py-1 hover:text-purple-800 dark:hover:text-purple-400"
        >{{ menuItem.title }}</NuxtLink>


        <Disclosure v-else v-slot="{ open }" :default-open="isActiveRoute(menuItem._path)">
            <DisclosureButton v-if="menuItem._path != parentPath" class="flex w-full py-1 bg-transparent">
                <NuxtLink :to="menuItem._path"
                :class="[
                    'flex-1 grow text-left hover:text-purple-800 dark:hover:text-purple-400',
                    open ? 'active' : ''
                ]">{{ menuItem.title }}</NuxtLink>
                <span class="flex">
                    <ChevronUpIcon v-if="menuItem.children && menuItem.children.length > 1"
                        :class="[
                            'flex-1 w-4 h-4 shrink-0',
                            open ? '' : 'rotate-180 transform'
                        ]" />
                </span>
            </DisclosureButton>
            <template v-if="menuItem.children && menuItem.children.length > 1">
                <DisclosurePanel>
                    <TreeviewItems :items="menuItem.children" :parent-path="menuItem._path" :indent="(props.indent + 1)" />
                </DisclosurePanel>
            </template>
        </Disclosure>
        </div>
    </template>
</template>